<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8"> 
  <title>算出プロパティ</title>
</head>
<body>
  <div id="app">
    <button-counter></button-counter>
    <button-counter></button-counter>
    <button-counter></button-counter>
  </div>

  <div id="app2">
    <!-- 親コンポーネントはmessage属性として値を渡す-->
    <hello-world message="Hello Vue"></hello-world>
  </div>


  <div id="app3">
    <!-- v-modelで入力値と親コンポーネントのinputTextを同期 -->
    <input type="text" v-model="inputText">
    <!-- v-bindの値にdataプロパティのinputTextを設定 -->
    <!-- inputTextの値は子コンポーネントに渡される -->
    <hello-world v-bind:message="inputText"></hello-world>
  </div>


  <div id="app4">
    <!-- 親は子からくるイベントに対するalertMessageメソッドを設定し、from-childイベントの発生を待つ -->
    <emit-event v-on:from-child="alertMessage"></emit-event>

    <!-- 親側で子からのイベント発生を待機。from-childが来たら、receiveMessageを発動-->
    <p>{{ message }}</p>
    <submit-event v-on:from-child="receiveMessage"></submit-event>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    // どこでも使えるグローバルcomponent
    Vue.component('hello-world', {
      template: `<h1>Hello World and {{ message }}</h1>`,
      // 親から子へのデータの受け渡しはpropsを使用
      // ここでは親がhello-worldのコンポーネントを使ったVueインスタンス
      props: ['message']
    })

    // 複数のコンポーネントについては、それぞれが独立した別物として作成される
    // countの値もそれぞれのコンポーネントで別々の値を保持することができる
    Vue.component('button-counter', {
      template: '<p>カウント: {{ count }} <button v-on:click="countUp">Up</button><button v-on:click="countDown">Down</button></p>',
      data: function(){
        return {
          count: 0
        }
      },
      methods: {
        countUp: function(){
          this.count ++
        },
        countDown: function(){
          this.count --
        },
      }
    })

    //子から親へのデータ渡し
    Vue.component('emit-event', {
      // 子コンポーネント側でボタンに対してクリックイベントを設定
      template: `<button v-on:click="clickEvent">ボタン</button>`,
      methods: {
        // クリックイベントが発生したら、イベントの処理で$emitメソッドを実行
        // from-childと言う親に渡したいイベントを発生させる
        clickEvent: function(){
          // $emitは引数を取ることができる
          // 引数を利用してデータを送る
          // 複数のデータを渡す場合はオブジェクトを利用する
          this.$emit('from-child')
        }
      }
    })

    Vue.component('submit-event', {
      // 子コンポーネントに入力フォームを作成し、送信ボタンを押すとイベントが発生
      template: `<div>
      <input type="text" v-model="inputText">
      <button v-on:click="clickEvent">送信ボタン</button>
      </div>`,
      data: function(){
        return {
          inputText: ''
        }
      },
      methods: {
        // 送信ボタンによるイベント
        clickEvent: function(){
          // $emitを利用して入力内容を親に送る
          this.$emit('from-child', this.inputText)
        }
      }
    })

    var app = new Vue({
      el: '#app'
    })

    // app2のVueインスタンス内のみで使えるローカルなcomponent
    var app2 = new Vue({
      el: '#app2',
      components: {
        'hello-view': {
          template: '<h1>Hello View</h1>'
        }
      }
    })

    // inputTextを親コンポーネントのdataに追加
    var app3 = new Vue({
      el: '#app3',
      data: {
        inputText: ''
      }
    })

    var app4 = new Vue({
      el: "#app4",
      data: {
        message: ''
      },
      methods: {
        alertMessage: function(){
          alert('子からイベントを受け取ったよ')
        },
        receiveMessage: function(message){
          this.message = message;
        }
      }
    })
  </script>
</body>
</html>